body {
    margin: 0;
    padding: 0; /* PERMITE QUE O ELEMENTO CRESÇA DE DENTRO PARA FORA */
    font-family: verdana;
    background-color: black;
}

.container{
    width: 80%;
    margin: auto;
    display: flex;

}

.header{
    border-bottom: 3px solid #32b9cd;
}

.titulo{
    color: #32b9cd;
    font-weight: 500; /* DEFINE A GROSSURA DO TEXTO ESCRITO */
}

.navbar {
    width: 400px;
    display: flex;
    color: #e3b062;
    justify-content: space-between;
    list-style: none; /* DEFINE QUAL O ESTILO DE ÍCONES DAS LISTAS*/
    align-items: center;
}

.header .container {
    justify-content: space-between;
}